@page "{id}"
@model BookLibrary.Web.Pages.Books.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <img src="@Model.ImageUrl" alt="Cover image for @Model.Title" />
        </div>
        <div class="col-md-7">
            <h2>@Model.Title</h2>
            <h5>by @Model.Author</h5>
            <p>@Model.Description</p>
        </div>
    </div>
</div>

