@page 
@model BookLibrary.Web.Pages.SearchModel
@{
    ViewData["Title"] = "Search";
}

<h2>Search results: "@Model.SearchTerm"</h2>

<ul>
    @foreach (var author in Model.Authors)
    {
        <li>
            <a asp-page="/Authors/Details" asp-route-id="@author.Id">
                @author.Name
            </a>
            (author)
        </li>
    }
    @foreach (var books in Model.Books)
    {
        <li>
            <a asp-page="/Books/Details" asp-route-id="@books.Id">
                @books.Title
            </a>
            (book)
        </li>
    }
</ul>